body{
    background-color: rgb(69, 66, 66);
}
h1{
    color:greenyellow;
    font-family: "Press Start 2P";
    border-top-style: dashed;
    border-top-color: greenyellow;
    height: 100;
    
}
p{
    color:greenyellow;
    font-family: "consolas";
    font-weight: bold;
    font-size: 18px;
    border-style: solid;
    border-width: 5px;
    border-color: greenyellow;
    border-radius: 10px;
    width: fit-content;
}
#p1{
    color: #00FF73;
}
.second{
    color: red;
}
body {
    font-family: Arial, sans-serif;
    margin: 40px;
    color: #00FF73;
}
input[type="number"] {
    width: 35px;
    margin: 5px;
    color: #00FF73;
}
button {
    margin-top: 10px;
    color: #00FF73;
}
.output {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #00FF73;
}


.port {
    color:black;
    font-family: "consolas";
    font-weight: bold;
    font-size: 18px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(12, 12, 12);
    border-radius: 10px;
    width: fit-content;
    background-color: white
}
